body {
  width: 90vw;
  height: 100vh;
  max-width: 500px;
  background: #00ccff;
  position: relative;
}

#plane {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  animation: fly 4s linear infinite;
}

.sun {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffff66;
  border: 2px solid black;
}

.cloud {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #fff;
  border-radius: 100px 100px 0 0;
  top: 100px;
  left: 150px;
}

.cloud:before {
  content: "";
  position:absolute;
  width: 25px;
  height: 12.5px;
  background-color: #fff;
  border-radius: 100px 100px 0 0;
  left: -20px;
  top: 12.5px;
  box-shadow: 65px 0 #fff;
}

.rect {
  position: relative;
  height: 40px;
  width: 250px;
  background: white;
  border-radius: 50% / 200%;
  border: 2px solid black;
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%, 0 50%);
}

.wingleft, .wingright {
  position: absolute;
  width: 80px;
  height: 20px;
  background: white;
  border: 2px solid black;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
}

.wingright {
  top: 65px;
  left: 110px;
  transform: rotate(110deg);
}

.wingleft {
  top: -43px;
  left: 110px;
  transform: rotate(-110deg);
}

.tail {
  position: absolute;
  top: -11.5px;
  left: 0;
  width: 20px;
  height: 60px;
  background: white;
  border: 2px solid black;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
}

.window {
  position: absolute;
  top: 6px;
  left: 200px;
  width: 20px;
  height: 30px;
  border: 2px solid black;
  background: black;
}

@keyframes fly {
  0% {
    transform: translate(-50%, -50%) translateX(-100vw);
  }
  100% {
    transform: translate(-50%, -50%) translateX(100vw);
  }
}